In [79]:
import psycopg2 as pg
import numpy as np
import pandas as pd

In [80]:
# try to connect to the database
try:
    # define the attribute of the connection
    conn = pg.connect(
        host = "th-data-test.ckvp0ck3llgr.ap-southeast-1.rds.amazonaws.com",
        port = 5432,
        dbname = "th_data_test",
        user = "applicant",
        password = "Applicant!23"
    )
# if cannot connect, show error
except:
    print("I cannot connect to the database")

In [81]:
# create a dataframe for all distinct members
df_q = "SELECT DISTINCT membership_no FROM public.subscription_data;"
df = pd.read_sql_query(df_q, conn)
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987163 entries, 0 to 987162
Data columns (total 1 columns):
membership_no    987162 non-null object
dtypes: object(1)
memory usage: 7.5+ MB
None

   membership_no
0  T-105344298-1
1  T-105344299-1
2  T-105344300-1
3  T-105344301-1
4  T-105344302-1

In [82]:
# First Join date as Free (Tonic Basic)
q_free = "SELECT DISTINCT ON (membership_no) membership_no, subscription_on AS first_join_date "\
            "FROM public.subscription_data "\
            "WHERE current_product_code = 'TonicBasic' "\
            "ORDER BY membership_no, subscription_on;"
free = pd.read_sql_query(q_free, conn)
free['first_join_date'] = free['first_join_date'].apply(lambda x: x.split(' ')[0])
print(free.info())
free.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442708 entries, 0 to 442707
Data columns (total 2 columns):
membership_no      442707 non-null object
first_join_date    442708 non-null object
dtypes: object(2)
memory usage: 6.8+ MB
None

   membership_no first_join_date
0  T-105344298-1        1/1/2019
1  T-105344299-1        1/1/2019
2  T-105344300-1        1/1/2019
3  T-105344301-1        1/1/2019
4  T-105344302-1        1/1/2019

In [83]:
# First Join date as non-free (non-TonicBasic)
q_nonfree = "SELECT DISTINCT ON (membership_no) "\
                "membership_no, subscription_on AS first_paid_subscription_date "\
            "FROM public.subscription_data "\
            "WHERE current_product_code NOT IN ('TonicBasic', 'NonMember') "\
            "ORDER BY membership_no, subscription_on ASC;"
nonfree = pd.read_sql_query(q_nonfree, conn)
nonfree['first_paid_subscription_date'] = nonfree['first_paid_subscription_date'].apply(lambda x: x.split(' ')[0])
print(nonfree.info())
nonfree.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142780 entries, 0 to 142779
Data columns (total 2 columns):
membership_no                   142780 non-null object
first_paid_subscription_date    142780 non-null object
dtypes: object(2)
memory usage: 2.2+ MB
None

   membership_no first_paid_subscription_date
0  T-105344578-1                     1/1/2019
1  T-105344659-1                     1/1/2019
2  T-105344662-1                     1/1/2019
3  T-105344676-1                     1/1/2019
4  T-105344680-1                     1/1/2019

In [84]:
# First retailer/channel identification
q_retail = "SELECT DISTINCT ON (membership_no) "\
            "membership_no, retailer_type AS first_retailer, "\
                "subscription_channel AS first_subscription_channel, "\
                "transaction_channel AS first_transaction_channel "\
            "FROM public.subscription_data "\
            "ORDER BY membership_no, subscription_on ASC;"
retail = pd.read_sql_query(q_retail, conn)
print(retail.info())
retail.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987163 entries, 0 to 987162
Data columns (total 4 columns):
membership_no                 987162 non-null object
first_retailer                27069 non-null object
first_subscription_channel    987163 non-null object
first_transaction_channel     47348 non-null object
dtypes: object(4)
memory usage: 30.1+ MB
None

,membership_no,first_retailer,first_subscription_channel,first_transaction_channel
0,T-105344298-1,None,USSD,None
1,T-105344299-1,None,USSD,None
2,T-105344300-1,None,USSD,None
3,T-105344301-1,None,USSD,None
4,T-105344302-1,None,USSD,None

In [85]:
# Last paid subscription date.
q_paid_sub = "SELECT DISTINCT ON (membership_no) "\
                "membership_no, subscription_on AS last_paid_subscription_date "\
            "FROM public.subscription_data "\
            "WHERE current_product_code NOT IN ('TonicBasic', 'NonMember') "\
            "ORDER BY membership_no ASC, subscription_on DESC;"
paidsub = pd.read_sql_query(q_paid_sub, conn)
paidsub['last_paid_subscription_date'] = paidsub['last_paid_subscription_date'].apply(lambda x: x.split(' ')[0])
print(paidsub.info())
paidsub.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142780 entries, 0 to 142779
Data columns (total 2 columns):
membership_no                  142780 non-null object
last_paid_subscription_date    142780 non-null object
dtypes: object(2)
memory usage: 2.2+ MB
None

   membership_no last_paid_subscription_date
0  T-105344578-1                    1/1/2019
1  T-105344659-1                    1/1/2019
2  T-105344662-1                    1/1/2019
3  T-105344676-1                    1/1/2019
4  T-105344680-1                    1/1/2019

In [86]:
# Last free subscription date.
q_free_sub = "SELECT DISTINCT ON (membership_no) "\
                "membership_no, subscription_on AS last_free_subscription_date "\
            "FROM public.subscription_data "\
            "WHERE current_product_code = 'TonicBasic' "\
            "ORDER BY membership_no ASC, subscription_on DESC;"
freesub = pd.read_sql_query(q_free_sub, conn)
freesub['last_free_subscription_date'] = freesub['last_free_subscription_date'].apply(lambda x: x.split(' ')[0])
print(freesub.info())
freesub.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442708 entries, 0 to 442707
Data columns (total 2 columns):
membership_no                  442707 non-null object
last_free_subscription_date    442708 non-null object
dtypes: object(2)
memory usage: 6.8+ MB
None

   membership_no last_free_subscription_date
0  T-105344298-1                    1/1/2019
1  T-105344299-1                    1/1/2019
2  T-105344300-1                    1/1/2019
3  T-105344301-1                    1/1/2019
4  T-105344302-1                    1/1/2019

In [87]:
# last_subscription_status
q_l_sub = "SELECT DISTINCT ON (membership_no) "\
                "membership_no, subscription_status AS last_subscription_status "\
            "FROM public.subscription_data "\
            "ORDER BY membership_no ASC, subscription_on DESC;"
lsub = pd.read_sql_query(q_l_sub, conn)
print(lsub.info())
lsub.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987163 entries, 0 to 987162
Data columns (total 2 columns):
membership_no               987162 non-null object
last_subscription_status    987163 non-null object
dtypes: object(2)
memory usage: 15.1+ MB
None

   membership_no last_subscription_status
0  T-105344298-1               Subscribed
1  T-105344299-1               Subscribed
2  T-105344300-1               Subscribed
3  T-105344301-1               Subscribed
4  T-105344302-1               Subscribed

In [88]:
# Number of renew performed in his lifetime
q_renew = "SELECT membership_no, COUNT(subscription_status) AS renew_count "\
            "FROM public.subscription_data "\
            "WHERE subscription_status = 'RENEW' "\
            "GROUP BY membership_no "\
            "ORDER BY membership_no;"
renew = pd.read_sql_query(q_renew, conn)
print(renew.info())
renew.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35676 entries, 0 to 35675
Data columns (total 2 columns):
membership_no    35676 non-null object
renew_count      35676 non-null int64
dtypes: int64(1), object(1)
memory usage: 557.5+ KB
None

    membership_no  renew_count
0  T-1700000007-1            4
1  T-1700000010-1            4
2  T-1700000013-1            4
3  T-1700000014-1            4
4  T-1700000016-1            4

In [89]:
# Number of paid subscription availed in his lifetime
q_paid = "SELECT membership_no, COUNT(DISTINCT current_product_code) AS paid_subscription_count "\
            "FROM public.subscription_data "\
            "WHERE current_product_code NOT IN ('TonicBasic', 'NonMember') "\
            "GROUP BY membership_no "\
            "ORDER BY membership_no;"
paid = pd.read_sql_query(q_paid, conn)
print(paid.info())
paid.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142780 entries, 0 to 142779
Data columns (total 2 columns):
membership_no              142780 non-null object
paid_subscription_count    142780 non-null int64
dtypes: int64(1), object(1)
memory usage: 2.2+ MB
None

   membership_no  paid_subscription_count
0  T-105344578-1                        1
1  T-105344659-1                        1
2  T-105344662-1                        1
3  T-105344676-1                        1
4  T-105344680-1                        1

In [93]:
# average duration of subscription
q_time = "SELECT membership_no, subscription_on "\
            "FROM public.subscription_data "\
            "WHERE current_product_code = 'NonMember' OR previous_product_code = 'NonMember' "\
            "ORDER BY membership_no, subscription_on;"
stime = pd.read_sql_query(q_time, conn)
print(stime.info())
stime.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044241 entries, 0 to 1044240
Data columns (total 2 columns):
membership_no      1044224 non-null object
subscription_on    1044241 non-null object
dtypes: object(2)
memory usage: 15.9+ MB
None

   membership_no           subscription_on
0  T-105344298-1  1/1/2019 00:00:27.950087
1  T-105344299-1  1/1/2019 00:00:49.457044
2  T-105344300-1   1/1/2019 00:01:32.44992
3  T-105344301-1    1/1/2019 00:03:36.3372
4  T-105344302-1  1/1/2019 00:03:55.150922

In [94]:
# process the data to get duration
import numpy as np
from datetime import datetime

times = stime.groupby('membership_no')['subscription_on'].apply(list)
means = []
for rows in times:
    date_list = []
    for datev in rows:
        date = datev.split(' ', 1)[0] # take only the first portion of the string
        date_list.append(datetime.strptime(date, "%d/%m/%Y").date()) # extract date
    if (len(date_list) % 2 == 1): # check if odd
        date_list.append(datetime.now().date()) #append current date
    mean_diff = str(np.mean(np.array(date_list[1::2]) - np.array(date_list[::2]))).split(',', 1)[0]
    means.append(mean_diff) # append average duration
sub_time = pd.DataFrame({'membership_no':np.array(times.index), 'average_membership_duration_days':np.array(means)}) # convert into dataframe
sub_time.head()

  average_membership_duration_days  membership_no
0                          62 days  T-105344298-1
1                          62 days  T-105344299-1
2                          62 days  T-105344300-1
3                          62 days  T-105344301-1
4                          62 days  T-105344302-1

In [95]:
def updatedf(col_name, df_name):
    df[col_name] = None
    df.set_index('membership_no', inplace = True)
    df_name.set_index('membership_no', inplace = True)
    df.update(df_name)
    df.reset_index(inplace = True)
    df_name.reset_index(inplace = True)
    #print(df.head())

In [96]:
def resetdf(col_name):
    df.drop(col_name, axis=1, inplace=True)

In [97]:
# average_membership_duration_days
updatedf('average_membership_duration_days', sub_time)
# paid_subscription_count
updatedf('paid_subscription_count', paid)
# renew_count
updatedf('renew_count', renew)
# last_subscription_status
updatedf('last_subscription_status', lsub)
# first_subscription_channel
updatedf('first_subscription_channel', retail)
# first_transaction_channel
updatedf('first_transaction_channel', retail)
# first_retailer
updatedf('first_retailer', retail)
# last_free_subscription_date
updatedf('last_free_subscription_date', freesub)
# last_paid_subscription_date
updatedf('last_paid_subscription_date', paidsub)
# first_paid_subscription_date
updatedf('first_paid_subscription_date', nonfree)
# first_join_date
updatedf('first_join_date', free)

In [98]:
print(df.head())
print(df.info())

   membership_no average_membership_duration_days paid_subscription_count  \
0  T-105344298-1                          62 days                    None
1  T-105344299-1                          62 days                    None
2  T-105344300-1                          62 days                    None
3  T-105344301-1                          62 days                    None
4  T-105344302-1                          62 days                    None

  renew_count last_subscription_status first_subscription_channel  \
0        None               Subscribed                       USSD
1        None               Subscribed                       USSD
2        None               Subscribed                       USSD
3        None               Subscribed                       USSD
4        None               Subscribed                       USSD

  first_transaction_channel first_retailer last_free_subscription_date  \
0                      None           None                    1/1/2019
1                      None           None                    1/1/2019
2                      None           None                    1/1/2019
3                      None           None                    1/1/2019
4                      None           None                    1/1/2019

  last_paid_subscription_date first_paid_subscription_date first_join_date
0                        None                         None        1/1/2019
1                        None                         None        1/1/2019
2                        None                         None        1/1/2019
3                        None                         None        1/1/2019
4                        None                         None        1/1/2019
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987163 entries, 0 to 987162
Data columns (total 12 columns):
membership_no                       987162 non-null object
average_membership_duration_days    950192 non-null object
paid_subscription_count             142780 non-null object
renew_count                         35676 non-null object
last_subscription_status            987163 non-null object
first_subscription_channel          987163 non-null object
first_transaction_channel           47348 non-null object
first_retailer                      27069 non-null object
last_free_subscription_date         442708 non-null object
last_paid_subscription_date         142780 non-null object
first_paid_subscription_date        142780 non-null object
first_join_date                     442708 non-null object
dtypes: object(12)
memory usage: 90.4+ MB
None

In [99]:
# close connection after work is done
conn.close()

In [118]:
# try to connect to the redshift database
try:
    # define the attribute of the connection
    redcon = pg.connect(
        host = "th-data-test.ccu6ybiolunl.ap-southeast-1.redshift.amazonaws.com",
        port = 5439,
        dbname = "th_data_test",
        user = "applicant",
        password = "Applicant!23"
    )
# if cannot connect, show error
except:
    print("I cannot connect to the database")

In [105]:
# the query to get all table names
q_red = "SELECT table_schema,table_name " \
            "FROM information_schema.tables "\
            "ORDER BY table_schema,table_name;"
# read all tables as pandas dataframe
reddat =pd.read_sql_query(q_red, redcon)
# print all the contents, not delimited
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(reddat)

In [107]:
# the query to get table column names
q_red_cols = "SELECT data_type,column_name " \
                "FROM information_schema.columns " \
                "WHERE table_schema = 'public' " \
                "AND table_name = 'subscription_fact';"
# read all tables as pandas dataframe
redcols = pd.read_sql_query(q_red_cols, redcon)
# what is in the subscription table
# print(subscols.info())
# the names of the columns
print(redcols)

            data_type                       column_name
0             integer  average_membership_duration_days
1             integer           paid_subscription_count
2             integer                       renew_count
3   character varying          last_subscription_status
4   character varying        first_subscription_channel
5   character varying         first_transaction_channel
6   character varying                    first_retailer
7   character varying                         user_type
8   character varying                     membership_no
9                date       last_free_subscription_date
10               date       last_paid_subscription_date
11               date      first_paid_subscription_date
12               date                   first_join_date

In [115]:
# use sqlalchemy to copy the dataframe
from sqlalchemy import create_engine
engine = create_engine('postgresql://applicant:Applicant!23@th-data-test.ccu6ybiolunl.ap-southeast-1.redshift.amazonaws.com:5439/th_data_test')
df.to_sql('public.subscription_fact', engine, index=False, if_exists='replace')

In [113]:
# or upload csv to s3 and the copy to table
df.to_csv("data.csv", index = False)

In [121]:
redcon.close()